* {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

form {
    display: flex;
    background: #bababa;
    flex-direction: column;
}

label, span {
    display: flex;
}

p {
display: flex:
}

span {
    width: 250px;
}